body {
    scroll-behavior: smooth;
}
$goldzuta:#fdb827;
$ljubicasta:#542583;

ul {
    padding: 0;
    margin: 0;
}

.navbar {
    background-color: $ljubicasta !important;
}

.nav-link,
.navbar-brand {
    color: #fdb827 !important;
}

.nav-right {
    justify-content: flex-end;
}

.nav-link:hover {
    opacity: 0.8;
}

.uvod {
    height: 100vh;
    text-align: left;
    background-image: url('img/wallpaper.jpg');
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
}

.uvod-tekst {
    margin-top: 10%;
    margin-left: 10%;
    color: #fdb827;

}

.uvod-tekst h1 {
    font-size: 75px;
}

.test {
    margin: 0;
}

.drugi {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fdb827;
    text-align: center;
}

.rezultati li {
    display: inline;
    margin-right: 30px;
    height: 200px;
    display: flex;
    align-items: center;
}

.rezultati img {
    /* height: 150px; */
    width: 200px;
}

.rezultati {
    display: flex;
    justify-content: center;
    align-items: center;
}

.igraci {
    background-color: $ljubicasta;
    /* background-color: rgba(85, 37, 130, 0.9); */
    color: #fdb827;
    text-align: center;
}

.igraci h1,
.igraci h6 {
    padding-top: 20px;
}

.igrac1 img {
    height: 250px;
    border-radius: 10%;
}


.igraci-dugme {
    margin-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
}

.dugme {
    /* background-color: #fdb827; */
    background-color: $ljubicasta;

    border: 0;
    /* color: $ljubicasta; */
    color: #fdb827;

    padding: 20px 10px 20px 10px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.dugme:hover {
    /* background-color: $ljubicasta; */
    background-color: #fdb827;

    /* color: #fdb827; */
    color: $ljubicasta;

}

.dugme:focus {
    background-color: #fdb827;

    color: $ljubicasta;

}

.tabela {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fdb827;
}

.tabela h6,
.tabela h1 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #fdb827;
    text-align: left;
    padding: 8px;
    text-align: center;
}

tr {
    background-color: white;
}

.th-team {
    text-align: left;
}

.shop {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $ljubicasta;
    color: white;
}

.shop1 img {
    height: auto;
}

.card-title,
.card-text {
    color: $ljubicasta;
}

footer {
    background-color: #dedede;
    padding-top: 20px;
    text-align: center;
}



.mail-input-footer {
    color: #b7b7b7;
    border-color: #262F3E;
    background-color: #ffffff;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;

    vertical-align: top;
    box-sizing: border-box;
    height: 50px;
    border: none;
    border-radius: 30px;
    padding: 0 10em 0 2.2em;
    outline: 0;
    transition: all 0.25s ease-in-out;
}

.mail-button-footer {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: 18px;
    text-decoration: none;
    z-index: 1;
    height: 50px;
    min-width: 9.5em;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 30px;
    text-align: center;
    background-color: #262F3E;
    color: #848992;
    float: right;
    position: absolute;
    right: 15px;
    border: 0;
}

.mail-input-footer:focus {
    background-color: #262F3E;
}

footer {
    background-color: #fdb827;
}

footer .row {
    padding-top: 30px;
}

.footer-menu {
    float: left;
    list-style: none;
}

.footer-menu li {
    display: inline;
    margin-left: 30px;
    color: #262F3E;
}

a {
    font-size: 20px;
    font-weight: 600;
    color: #262F3E;
}

.footer-menu li a:hover {
    color: $ljubicasta;
    text-decoration: none;
}

#na-pocetak {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #262F3E;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 50%;
}

#na-pocetak:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.display-show,
.display-hidden,
.display-show1,
.display-hidden1,
.display-show2,
.display-hidden2,
.display-show3,
.display-hidden3 {
    cursor: pointer;
}

.display-hidden,
.display-hidden1,
.display-hidden2,
.display-hidden3 {
    display: none;
}

/* TEAM */
.uvod-team {
    /* background-color: black; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/wallpaper.jpg') !important;
    background-position: center;
    width: 80%;
    padding: 0;
}
.uvod-team-games{
  height: 60vh;
}
.team-next-game {
    text-align: center;
    background-color: $ljubicasta;
    color: #fdb827;
    padding-top: 20px;
}

#timer {
    font-size: 50px;
}

.tabela-games {
    border-bottom: 5px solid $ljubicasta;
}

/* GALLERY */
.gallery-slider {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fdb827;
}

.vegas-slider {
    display: flex;
    justify-content: center;
}

#vegas-slider {
    width: 60%;
    height: 60vh;
    /* margin-top: 20px; */
}





/* HISTORY */
/* The actual timeline (the vertical ruler) */
.history {
    background-color: #dedede;
    padding-top: 20px;
}

.history h6,
.history h1 {
    text-align: center;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #dedede;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: $ljubicasta;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container-history {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-history::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}


/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent black;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent black transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -13px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: black;
    color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    .shop-row {
        flex-direction: column;
    }

    .mail-input-footer {
        width: 80%;
    }

    .footer-row {
        flex-direction: column;
    }


    .mail-button-footer {
        width: 30%;
        position: relative;
        margin-top: 10px;
        right: 0;
    }



    .forma-dugme {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    .shop1 {
        margin-top: 10px;
    }

    .rezultati {
        display: block;

    }

    .rezultati li {
        justify-content: center;
        margin-right: 0;
    }

    #score {
        height: auto;
    }

    #vegas-slider {
        width: 100%;
    }

    .vegas-slider {
        padding: 0;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container-history {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container-history::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}
/*****saaas***********************************************************************************************************************/

.wrapper {
    position: relative;
    height: 90vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .slideshow {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
  
    &--hero {
      z-index: 3;
      left: 0;
      top: 50%;
      // width: 100%;
      height: 85%;
      transform: translateY(-50%) skewY(-10deg);
      transform-origin: center;
      overflow: hidden;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
  
      .slides {
        position: absolute;
        left: 0;
        top: -10%;
        width: 100vw;
        height: 100vh;
        animation: 11s slideshow-hero-mobile -3s infinite;
      }
  
      .slide1 {
        background-image: url(img/slajder1.jpg);
        animation: 20s slides-set-1 -0.1s infinite;
      }
      .slide2 {
        background-image: url(img/slajder4.jpg);
        animation: 20s slides-set-2 -0.1s infinite;
      }
      .slide3 {
        background-image: url(img/slajder3.jpg);
        animation: 20s slides-set-3 -0.1s infinite;
      }
  
      @media (min-width: 600px) {
        left: 50%;
        top: 0;
        width: 67%;
        height: 100%;
        transform: translateX(-50%) skewX(-10deg);
  
        .slides {
          top: 0;
          left: -25%;
          height: 100%;
          animation: 11s slideshow-hero -3s infinite;
        }
      }
    }
  
    &--contrast {
      z-index: 1;
      width: 100%;
      height: 50%;
      transform: none;
      
      
  
      &--before {
        left: 0;
  
        .slides {
          width: 100vw;
        }
      }
  
      &--after {
        z-index: 2;
        left: auto;
        right: 0;
  
        .slides {
          width: 100vw;
          left: auto;
          right: 0;
        }
      }
  
      .slides {
        animation: 14s slideshow-contrast -5s infinite;
      }
  
      .slide1 {
        background-image: linear-gradient(to bottom, rgba(200,200,75,0.25) 0, rgba(200,75,75,0.5) 100%), url(img/slajder1.jpg);
        // background-image: url(../img/slideshow/hero-1.jpg);
        animation: 20s slides-set-1 -0.2s infinite;
      }
      .slide2 {
        background-image: linear-gradient(to bottom, rgba(200,200,75,0.25) 0, rgba(200,75,75,0.5) 100%), url(img/slajder4.jpg);
        // background-image: url(../img/slideshow/hero-2.jpg);
        animation: 20s slides-set-2 -0.2s infinite;
      }
      .slide3 {
        background-image: linear-gradient(to bottom, rgba(200,200,75,0.25) 0, rgba(200,75,75,0.5) 100%), url(img/slajder3.jpg);
        // background-image: url(../img/slideshow/hero-3.jpg);
        animation: 20s slides-set-3 -0.2s infinite;
      }
  
      &--after {
        top: auto;
        bottom: 0;
  
        .slides {
          animation: 13s slideshow-contrast -13s infinite;
        }
        .slajder-gal {
          background-position: right;
        }
        .slide1 {
          animation: 20s slides-set-1 infinite;
        }
        .slide2 {
          animation: 20s slides-set-2 infinite;
        }
        .slide3 {
          animation: 20s slides-set-3 infinite;
        }
      }
  
      @media (min-width: 600px) {
        width: 50%;
        height: 100%;
  
        &--after {
          top: 0;
          bottom: auto;
  
          .slides {
            width: 50vw;
          }
        }
      }
    }
  }
  
  .slides,
  .slajder-gal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @keyframes slideshow-hero-mobile {
    0% {
      transform: scale(1) skewY(10deg);
    }
    50% {
      transform: scale(1.05) skewY(10deg);
    }
    100% {
      transform: scale(1) skewY(10deg);
    }
  }
  
  @keyframes slideshow-hero {
    0% {
      transform: scale(1) skewX(10deg);
    }
    50% {
      transform: scale(1.05) skewX(10deg);
    }
    100% {
      transform: scale(1) skewX(10deg);
    }
  }
  
  @keyframes slideshow-contrast {
    0% {
      transform: scale(1.05);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }
  
  @keyframes slides-set-1 {
    0% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    31% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    34% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
    97% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
  }
  @keyframes slides-set-2 {
    0% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    31% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    34% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    64% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    67% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
    100% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
  }
  @keyframes slides-set-3 {
    0% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    64% {
      opacity: 0;
      // transform: translateY(-100px);
      transform: scale(1.05);
    }
    67% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    97% {
      opacity: 1;
      // transform: translateY(0);
      transform: scale(1);
    }
    100% {
      opacity: 0;
      // transform: translateY(100px);
      transform: scale(1.05);
    }
  }

  /*********LOS ANGELES*************/
/* FLEX GROW */
body {
  overflow-x: hidden;
}
.d-flex {
  display: flex;
  &.align-items-end {
    align-items: flex-end;
  }
  &.justify-content-center {
    justify-content: center;
  }
  &.justify-content-start {
    justify-content: flex-start;
  }
}
.models {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  h1 {
    position: absolute;
    top: 100px;
    z-index: 999;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Arial", helvetica;
  }
  .modelCont {
    background-image: linear-gradient(
      to right,
      #ffffff 0%,
      #ffffff 60%,
      #e9e9e9 100%
    );
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 106%;
    .flexcont {
      padding: 0;
      margin: 0;
      list-style: none;
      width: 103%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      transform: skewX(-20deg);
      overflow: hidden;
      background-image: linear-gradient(
        to right,
        #ffffff 0%,
        #ffffff 60%,
        #e9e9e9 100%
      );
      position: relative;
      .flex-item {
        text-align: center;
        flex-grow: 1;
        transition: all ease-in-out 300ms;
        width: 200px;
        height: 500px;
        background-image: linear-gradient(
          to right,
          #ffffff 0%,
          #ffffff 60%,
          #e9e9e9 100%
        );
        overflow: hidden;
        &:hover {
          flex-grow: 2;
          width: 50%;
          transition: all ease-in-out 300ms;
          .flex-item-inner {
            .modelInnerText {
              opacity: 1;
              transition: all ease-in-out 300ms;
            }
          }
        }
        .flex-item-inner {
          background-size: 400px;
          background-repeat: no-repeat;
          background-position: center center;
          height: 100%;
          transform: skewX(20deg) scaleX(-1);
          overflow: hidden;
          width: 600px;
          margin: 0 auto;
          .modelInnerText {
            transform: scaleX(-1);
            margin: 0 0 150px;
            width: 100%;
            opacity: 0;
            transition: all ease-in-out 300ms;
            a {
              margin: 0 30px 0 0;
            }
          }
        }
      }
    }
  }
}

  